.rectangle-div {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.add-product-frame-inner,
.group-child4,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 593px;
  height: 625px;
}
.group-child4 {
  left: 165px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 203px;
  height: 140px;
}
.description1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.group-child5 {
  border: 1.5px solid var(--color-palevioletred-100);
  background-color: var(--color-white);
  position: absolute;
  top: 24.56px;
  left: 0;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 533px;
  height: 75.44px;
}
.description-group {
  top: 296px;
  height: 100px;
}
.description-group,
.group-child6,
.product-name-group {
  position: absolute;
  left: 0;
  width: 533px;
}
.group-child6 {
  border: 1.5px solid var(--color-palevioletred-100);
  background-color: var(--color-white);
  top: 27px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 39px;
}
.product-name-group {
  top: 209px;
  height: 66px;
}
.pcs1,
.price1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.6px;
}
.pcs1 {
  left: 405px;
}
.group-child7,
.group-child8 {
  border: 1.5px solid var(--color-palevioletred-100);
  background-color: var(--color-white);
  position: absolute;
  top: 27px;
  left: 0;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 399px;
  height: 39px;
}
.group-child8 {
  left: 405px;
  width: 128px;
}
.price-group {
  position: absolute;
  top: 417px;
  left: 0;
  width: 533px;
  height: 66px;
}
.idr1,
.upload-photo1 {
  position: absolute;
  top: 150px;
  left: 222px;
  font-weight: 500;
}
.idr1 {
  top: 453px;
  left: 21px;
  color: var(--color-gray-700);
}
.vector-icon1 {
  position: absolute;
  height: 0.84%;
  width: 1.35%;
  top: 83.97%;
  right: 97.15%;
  bottom: 15.19%;
  left: 1.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child9 {
  position: absolute;
  top: 449.5px;
  left: 46.5px;
  border-right: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 1px;
  height: 28px;
}
.save1 {
  position: relative;
  font-size: var(--font-size-smi);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-darkslateblue-100);
  text-align: center;
}
.cancel-container,
.save-container {
  cursor: pointer;
  padding: var(--padding-5xs) var(--padding-11xl);
  position: absolute;
  top: 0;
  border-radius: var(--br-xl);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.save-container {
  border: 0;
  background-color: var(--color-palegoldenrod-100);
  left: 146px;
}
.cancel-container {
  border: 1.5px solid var(--color-darkslateblue-100);
  background-color: var(--color-white);
  left: 0;
  box-sizing: border-box;
  width: 93px;
}
.frame-group {
  position: absolute;
  top: 513px;
  left: 147px;
  width: 239px;
  height: 36px;
}
.material-symbolsphoto-camera-icon1 {
  position: absolute;
  top: 40px;
  left: 237px;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.group-child10 {
  position: absolute;
  top: 169.5px;
  left: 221.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 90px;
  height: 1px;
}
.add-product-frame-child,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 533px;
  height: 549px;
}
.add-product-frame-child {
  top: 38px;
  left: 30px;
}
.add-product-frame {
  position: relative;
  width: 593px;
  height: 625px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-poppins);
}
